@use "./src/styles/position";
@use "./src/styles/inside";
@use "./src/styles/boxStyle";
@use "./src/styles/fontStyle";
@use "./src/styles/colors/defaultTheme";

.label {
  @include fontStyle.label;
  margin-top: 22px;
  margin-bottom: 6px;
}
.TextInputWithLabel {
}

.TextAreaWithLabel {
  margin: 31px 0;
}
