@use "./src/styles/position";
@use "./src/styles/inside";
@use "./src/styles/boxStyle";
@use "./src/styles/fontStyle";
@use "./src/styles/colors/defaultTheme";

.Home {
  position: relative;
  width: 100%;
}
.bannerWrapper {
  width: 100%;
  height: 261px;
  background-color: red;
}
.recentPost {
  padding: 0 5%;
  margin-top: 80px;
  .label {
    @include fontStyle.default(24px);
    font-weight: 700;
  }
  .carousel {
    width: 100%;
    margin-top: 31px;
    .post {
      width: 300px;
      height: 425px;
      background-color: black;
      filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
      border-radius: 10px;
    }
  }
}
