@use "../../../../styles/textStyle";
@use "../../../../styles/color";

.LabeledTextForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
  .label {
    @include textStyle.subtitle;
    &.mandatory {
      &::after {
        content: "*";
        color: color.$red;
      }
    }
  }
}
