@use "/src/styles/utility";
@use "/src/styles/textStyle";
@use "/src/styles/reset";

.Cover {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1.4142;
  margin-bottom: 7px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .thumbnail {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .noThumbnail {
    @include utility.loading;
    width: 100%;
    height: 100%;
  }
  .like {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
  }
  .texts {
    @include textStyle.default;
    color: white;
    padding: 16px;
    .title {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
    }
    .summary {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
