$main-blue: #7963ff;
$sub-yellow: #ffee94;
$light-gray: #f4f4f4;
$gray: #e6e6e6;
$dark-gray: #7e7e7e;
$red: #f00000;
$black: #000000;
$white: #ffffff;
$blue: #64c0f9;

@mixin loading {
  background-color: $gray;
  animation: grayBlink 1s ease-in-out infinite alternate;
}

@keyframes grayBlink {
  0% {
    background-color: $gray;
  }
  100% {
    background-color: #a4a4a4;
  }
}
