@use "./src/styles/colors/defaultTheme";

@mixin default($size: 16px) {
  font-family: "Pretendard", sans-serif;
  font-style: normal;
  font-size: $size;
  color: defaultTheme.$black;
  letter-spacing: -0.41px;
  line-height: 22px;
}

@mixin label {
  @include default(18px);
  font-weight: 700;
}

@mixin textInput() {
  @include default(15px);
  font-weight: 600;
}

@mixin textInput_placeHolder() {
  font: inherit;
  font-weight: 600;
  color: defaultTheme.$gray;
}
