$default-padding-left: 5%;
$default-padding-right: 5%;
$default-padding-bottom: 80px;

@mixin defaultSidePadding() {
  padding-left: $default-padding-left;
  padding-right: $default-padding-right;
}
@mixin defaultBottomPadding() {
  padding-bottom: $default-padding-bottom;
}

$level-6-menu: 120;
$level-5-header: 100;
$level-4: 80;
