@mixin a {
  text-decoration: none;
  color: inherit;
}

@mixin button {
  font: inherit;
  border: none;
  background: none;
  padding: 0;
}

@mixin inputText {
  border: none;
  background: none;
}
@mixin uol {
  list-style: none;
  padding: 0;
  margin: 0;
}
@mixin textArea {
  font: inherit;
  border: none;
  resize: none;
}
