@use "./src/styles/textStyle";
@use "./src/styles/color";

.Creator {
  position: relative;
  width: 100%;
  padding: 12px 7px;
  display: flex;
  align-items: center;
  gap: 9px;
  border-bottom: 1px color.$gray solid;
  .thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: gray;
  }
  .name {
    @include textStyle.default;
    color: color.$dark-gray;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
  }
  .subscription {
    position: absolute;
    right: 7px;
  }
}
