@use "./src/styles/textStyle";
@use "./src/styles/color";

// Vertical & ThumbanilOnly
.Vertical {
  @include textStyle.font;
  position: relative;
  width: 145.4px;
}

.ThumbnailOnly {
  position: relative;
  width: 118px;
}

.thumbnailWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 1 / 1.414;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.likeButton {
  position: absolute;
  bottom: 6px;
  right: 7px;
}

.tags {
  display: flex;
  gap: 3px;
  margin-bottom: 8px;
}

.title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
}

.schedule {
  font-size: 14px;
  font-weight: 400;
}

// Reserved & ReservedSimple
.Reserved {
  display: flex;
  flex-direction: row;
  gap: 11px;
  .thumbnail {
    width: 82px;
    height: 119px;
  }
  .tags {
    margin-bottom: 3px;
  }
  .title {
    @include textStyle.descriptionBold;
    margin-bottom: 0;
  }
}
.contents {
  display: flex;
  flex-direction: column;
}
.summary {
  @include textStyle.moreDescriptive;
  color: color.$dark-gray;
  margin-bottom: 14px;
}
.time {
  @include textStyle.description;
  color: color.$main-blue;
}
.location {
  @include textStyle.moreDescriptive;
}
.simple {
  .contents {
    justify-content: center;
  }
}
