@use "./src/styles/color";
@use "./src/styles/textStyle";

.Location {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 28px;
  .label {
    @include textStyle.subtitle;
    margin-bottom: 8px;
  }
  .map {
    width: 100%;
    height: 205px;
    background: gray;
    border-radius: 12px;
    border: 1px color.$gray solid;
  }
}
