@use "./src/styles/color";
@use "./src/styles/textStyle";

.TextInput {
  @include textStyle.description;
  width: 100%;

  .title {
    @include textStyle.subtitle;
  }
  .input {
    padding: 10px;
    border: 1px solid color.$gray;
    border-radius: 5px;
    font: inherit;
    &::placeholder {
      font: inherit;
      color: color.$gray;
    }
  }
  .error {
    font: inherit;
    color: color.$red;
  }
}
