@use "./src/styles/position";
@use "./src/styles/inside";
@use "./src/styles/boxStyle";
@use "./src/styles/fontStyle";
@use "./src/styles/colors/defaultTheme";

.HomeHeader {
  @include position.stretchWidth;
  @include inside.homeHeader;
  height: 54px;
}

.logo {
}

.tools {
  background: red;
  width: 50px;
  height: 20px;
}
