@use "../../../styles/reset";
@use "../../../styles/fontStyle";
@use "../../../styles/colors/defaultTheme";

.SearchBarWrapper {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.searchButton {
  @include reset.button;
  position: absolute;
  transition: 1s ease;
  right: 0;
}

.searchBar {
  @include reset.inputText;
  position: relative;
  width: 90%;
  height: 70%;
  background-color: defaultTheme.$gray;
  border-radius: 16px;
  animation: 1s ease reveal;
  padding-left: 40px;
}
.isSearching {
  .searchButton {
    right: calc(100% - 50px);
    z-index: 9;
  }
  .searchBar {
    opacity: 1;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
