@use "/src/styles/textStyle";
@use "/src/styles/color";
@use "/src/styles/layout";

.CreatorModify {
  @include layout.defaultSidePadding;
  @include layout.defaultBottomPadding;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.toPrevious {
  @include textStyle.subtitle;
  display: flex;
  align-items: center;
  gap: 15px;
}

.profileArea {
  display: flex;
  justify-content: center;
  margin-top: 33px;
  margin-bottom: 50px;
}

.profileImg {
  width: 92px;
  height: 92px;
  border: 1px solid color.$dark-gray;
  border-radius: 50%;
}
