@use "/src/styles/color.scss";
// Common Styles
.titleArea {
  padding: 0 20px;
}

.carousel {
  position: relative;
  width: 100%;
}

.slider {
  width: 100%;
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  padding: 0 20px; // default padding
  scroll-padding: 20px; // default scroll padding
}
.sliderItem {
  flex-shrink: 0;
  scroll-snap-align: start;
}
.placeholder {
  flex-shrink: 0;
  scroll-snap-align: start;
}

// HomeVertical Style
.HomeVertical {
  display: flex;
  flex-direction: column;
  gap: 6px;

  .slider {
    gap: 8px;
  }
}

// ThumbnailOnly Style
.ThumbnailOnly {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .slider {
    gap: 4px;
    padding-left: 20px;
  }
}

// ThumbnailZoomed Style
.ThumbnailZoomed {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: hidden;

  .slider {
    padding: 0 200px;
    gap: 12px;
    overflow-y: visible;
    align-items: flex-start;
    padding-bottom: 12px;
    overflow-y: hidden;
    .sliderItem {
      position: relative;
      display: flex;
      width: 180px;
      height: 261px;
      scroll-snap-align: center;
      transform: scale(1);

      .zoomable {
        transform-origin: top center;
        transition: 0.5s ease;
      }
      > a {
        width: 180px;
      }
      .current {
        transform: scale(1.05);
        // opacity: 0.5;
      }
    }
    .placeholder {
      scroll-snap-align: center;
    }
  }
}
.navigator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.dot {
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  transition: 0.5s ease;
  &.currentDot {
    background-color: color.$main-blue;
  }
}
// LikedVertical

.LikedVertical {
  display: flex;
  flex-direction: column;
  gap: 21px;
  .slider {
    gap: 8px;
  }
}
