@use "/src/styles/textStyle";
@use "/src/styles/layout";
@use "/src/styles/color";

.titleText {
  @include textStyle.title;
}

.subTitleText {
  @include textStyle.description;
  color: color.$dark-gray;
  margin-bottom: 7px;
}
.schedule {
  @include textStyle.subtitle;
}

.reservation {
  margin-top: 12px;
}

.reservationTimer {
  @include textStyle.description;
  color: color.$dark-gray;
  margin-top: 4px;
}

.reserveNow {
  color: color.$red;
}

.bold {
  font-weight: 600;
}
