@use "/src/styles/textStyle";
@use "/src/styles/layout";
@use "/src/styles/color";

.Title {
  @include layout.defaultSidePadding;
}

.titleText {
  @include textStyle.title;
}

.subTitleText {
  @include textStyle.description;
  color: color.$dark-gray;
  margin-bottom: 7px;
}
.schedule {
  margin-bottom: 12px;
}

.divider {
  width: 100%;
  border-top: 1px solid color.$gray;
  margin-top: 24px;
}
