@use "./src/styles/color";
.Dev {
}

.section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 8px;
  border-bottom: 1px solid color.$gray;
}

.horizontal {
  display: flex;
  gap: 8px;
}
